.container{
    width:600px;
    height:50px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 0px 9px 7px rgb(241, 240, 240);
    border:1px solid rgb(187, 181, 181);
   
    
}

.number{
    color: rgb(207, 209, 210);
    margin-left: 20px;
}
.q{
    width:400px;
    height:30px;
    display: flex;
    align-items: center;
    margin-left: -100px;

}

#addSign{
    margin-right: 20px;
    color:black;
    font-size: 20px;
}


.click{
    color:green !important;
    box-decoration-break: 1px  green;
    -webkit-box-decoration-break: 1px  green;
}


#container1{
    width:600px;
    height:200px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 0px 9px 7px rgb(241, 240, 240);
    border-top:6px solid green;

}

#container2{
    width:600px;
    height:50px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}